* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #000;
}

form {
  width: 40%;
  margin: 5rem auto;
  padding: 20px 50px;
  border-radius: 5px;
  border: #666 1px solid;
  box-shadow: 5px 5px 25px 2px #777;
}
form label {
  display: block;
  font-size: 17px;
  margin-bottom: 2px;
}
form h1 {
  text-align: center;
  padding: 15px 10px;
}

form input {
  width: 100%;
  padding: 10px 0 10px 10px;
  margin-bottom: 13px;
  border: #888 solid 1px;
  border-radius: 4px;
}

form input:focus {
  outline-color: rgb(39, 130, 250);
}

form p {
  padding: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 7px;
  margin: 14px 0;
  background-color: rgb(17, 112, 236);
  font-weight: 600;
  font-size: 18px;
  color: aliceblue;
  cursor: pointer;
  transition: all 0.4s ease;
}

button:hover {
  transform: scale(0.99);
  background-color: rgba(17, 112, 236, 0.6);
}

.custom-toast {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.toast-message {
  margin-right: 12px;
  width: 100%;
}
.user-icon {
  margin-right: 8px;
  margin-top: 2px;
}

.door-icon {
  margin-top: 4px;
}
