* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #000;
}

form {
  width: 40%;
  margin: 3rem auto;
  padding: 20px 50px;
  border-radius: 5px;
  border: #666 1px solid;
  box-shadow: 5px 5px 25px 2px #777;
}
form label {
  display: block;
  font-size: 17px;
  margin-bottom: 2px;
}
form h1 {
  text-align: center;
  padding: 15px 10px;
}

form input {
  width: 100%;
  padding: 10px 0 10px 10px;
  margin-bottom: 13px;
  border: #888 solid 1px;
  border-radius: 4px;
}

form input:focus {
  outline-color: rgb(39, 130, 250);
}

form p {
  padding: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 7px;
  margin: 14px 0;
  background-color: rgb(17, 112, 236);
  font-weight: 600;
  font-size: 18px;
  color: aliceblue;
  cursor: pointer;
  transition: all 0.4s ease;
}

button:hover {
  transform: scale(0.99);
  background-color: rgba(17, 112, 236, 0.6);
}

.custom-toast {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.toast-message {
  margin-right: 12px;
  width: 100%;
}
.user-icon {
  margin-right: 8px;
  margin-top: 2px;
}

.door-icon {
  margin-top: 4px;
}

.auth-divider {
  text-align: center;
  margin: 1rem 0;
  position: relative;
}
.auth-divider span {
  background: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}
.auth-divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: #ccc;
}

/* Start of Socials Buttons Styles */
.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.google-btn,
.facebook-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0.6rem;
  font-size: 0.95rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.google-btn {
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
}
.facebook-btn {
  background: #3b5998;
  color: #fff;
}

/* End of Socials Buttons Styles */
/*  */
.link-button {
  display: inline;
  background: none;
  border: none;
  color: #007bff; /* Bootstrap-like link blue */
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.link-button:hover {
  color: #0056b3; /* Darker blue on hover */
}

.link-button:focus {
  outline: none;
  text-decoration: none; /* Remove underline when focused */
}

.link-button:active {
  color: #004085; /* Even darker when clicked */
}
/*  */
